<footer class="page-footer font-small dark">
    <div class="container text-center text-md-left mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold"><strong>NET<span class="fancy">MOVIES</span></strong></h6>
          <hr class="red_rule accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            Stream movies straight to your device. Subscribe for frequent update from our platform.
          </p>

        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Services</h6>
          <hr class="red_rule accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Movies Download</a>
          </p>
          <p>
            <a href="#!">Streaming movies</a>
          </p>
          <p>
            <a href="#!">Realtime notifications from platform</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="red_rule accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Your Account</a>
          </p>
          <p>
            <a href="#!">Become an Affiliate</a>
          </p>
          <p>
            <a href="#!">Subscription Rates</a>
          </p>
          <p>
            <a href="#!">Help</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="red_rule accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
              <fa-icon [icon]="home" size="2x" class='mr-3'></fa-icon>Yenegoa, Bayelsa, Nigeria
          </p>
          <p>
              <fa-icon [icon]="envelop" size="2x" class='mr-3'></fa-icon> netmovies@yahoo.com
          </p>
          <p>
              <fa-icon [icon]="phone" size="2x" class='mr-3'></fa-icon> + 234 906 602 735 9
          </p>
          <p>
              <fa-icon [icon]="phone" size="2x" class='mr-3'></fa-icon> + 234 906 602 735 9
          </p>
        </div>
      </div>
    </div>
  </footer>
